.article{
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.article__nav{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.article__link{
  margin: 0 30px;
  padding: 5px;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.article__link span{
  font-weight: 900;
}
.article__link:hover{
  background-color: rgb(201, 207, 207);
}
.article__title{
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 30px;
}
.article__text{
   font-size: 30px;
}